
.add-review {
    max-width: 300px;
}

.add-review .radio-group {
    display: flex;
    gap: 10px;
}

.add-review .radio-group input[type="radio"] {
    display: none;
}

.add-review .radio-group label {
    font-size: 18px;
}