
.app-header:has(+ .main-layout .home) {
    margin-block-end: 0;
}

.app-header:has(.home) {
    margin-block-end: 0;
}

.app-header {
    margin-block-start: 30px;
    margin-block-end: 60px;
}

.app-header .logo {
    height: 50px;
    cursor: pointer;
}

.app-header section:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-header .app-nav {
    display: flex;
    gap: 40px;
    align-items: center;
}