.app-header {
    background-color: var(--clr1);
    color: var(--clr1bg-light);
    padding-block-start: .75em;
    border-bottom: solid 5px gold;
    margin-block-end: 50px;
}

.app-header h1 {
    margin: 0;
}

.app-header section:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.app-header .app-nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

.app-header a.active {
    background-color: gold;
    color: var(--clr1);
    padding-block-start: 10px;
    padding-block-end: 15px;
    padding-inline: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: solid goldenrod;
    border-bottom: none;

}