.BookList {
    margin-block-start: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    gap: 30px;
}

.BookList li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}