.book-stats {
    display: flex;
    justify-content: space-between;
    height: max-content;
}

.book-stats .graph-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
}

.book-stats .graph-item .meter {
    background-color: darkred;
}