.long-txt p {
    margin-block-end: 0;
}

.long-txt .show-more-toggle-btn {
    display: inline;
    font-weight: 600;
    border: none;
    padding: 0;
    color: var(--cta-color);
    transition: none;
}

.long-txt .show-more-toggle-btn:hover {
    color: var(--cta-color);
    background-color: transparent;
}