.reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-start: 10px;
    margin-block-end: 30px;
}

.reviews .title {
    margin-block-end: 10px;
}

.reviews .no-reviews-label {
    font-size: 14px;
}