.BookIndex {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.BookIndex aside {
    position: sticky;
    top: 50px;
    height: max-content;
}

.BookIndex aside,
.BookIndex fieldset {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.BookIndex aside button {
    margin: 0;
}

@media (max-width: 1000px) {
    .BookIndex {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .BookIndex aside {
        position: static;
        margin-block-end: 30px;
    }
}