
:root {
    --light-color-1: #fdfdf7;
    --light-color-2: #efece1;
    --light-color-3: #da9448;
    --text-color-1: #9b9a91;
    --text-color-2: #616057;
    --cta-color: #607a72;
    --danger-color: #f25f5c;
    --danger-color-hover: #943c3a;
}