
form {
    background-color: var(--light-color-2);
    border-radius: 10px;
}

.form-title {
    font-family: inherit;
    color: var(--text-color-2);
    font-weight: 600;
    font-size: 18px;
}

fieldset {
    display: flex;
    gap: 15px;
    flex-direction: column;
    border: none;
    padding: 25px;
    margin: 0;
}

legend,
label {
    color: var(--text-color-2);
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

.input-group.checkbox {
    width: max-content;
    flex-direction: row;
    padding: 10px;
    border: solid 1px var(--text-color-2);
    border-radius: 5px;
}

label {
    font-size: 13px;
}

input {
    font: inherit;
    display: block;
    border: none;
    padding: 5px;
}

input:is([type="text"], [type="number"], [type="search"]) {
    width: 100%;
    border: 1px solid var(--text-color-2);
    background-color: var(--light-color-1);
    border-radius: 3px;
}