.main-layout {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    margin-block-end: 100px;
}

.main-layout:has(.home) {
    height: calc(100dvh - 80px);
    margin-block-end: 0;
}

.main-layout > * {
    grid-column: 2;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main.main-layout {
    flex-grow: 1;
}

.main-layout .full {
    grid-column: 1/-1;
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
}

@media (max-width: 1000px) {
    .main-layout {
        grid-template-columns: 5% 1fr 5%;
    }
}